---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={['grid grid-cols-1 lg:grid-cols-[400px_1fr] gap-12 lg:gap-16', className]}>
  <div class="lg:sticky lg:top-28 lg:self-start">
    <slot name="sticky" />
  </div>
  <div>
    <slot name="scroll" />
  </div>
</div>
